.app {
  text-align: center;
  background-color: #e6e6e6;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.app-card {
  min-height: 1rem;
  display: block;
  width: 95%;
  max-width: 60rem;
  background: #f5f5f5;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  padding: 1rem;
}

.title-header {
  padding: 0.5rem;
}

.app-content {
  display: block;
  margin: auto;
  width: 100%;
  max-width: 50rem;
  input {
    max-width: 15rem;
    margin: auto;
  }

  textarea {
    resize: none;
    max-width: 25rem;
    margin:auto;
  }
}


.app-logo {
  height: 40vmin;
}

.top-menu {
  width: 100%;

  .error-container {
    color: red;
    position: absolute;
    left: 50%;
    margin-left: -15%;
    width: 30%;
    top: 0rem
  }
}

.fulfilment-list {
  width: 100%;

  .list-group-item {
    padding: 0;

    .form-check {
      display: flex;
      text-align: left;
      padding: 0;
      
      input[type="checkbox"] {
        position: relative;
        transform: scale(1.5);
        left: 1rem;
      }

      label {
        width: 100%;
        padding: 0.5rem 0 0.5rem 1.5rem
      }
    }
  }

  .progress {

  }
}


